<!DOCTYPE html>
<html lang="en">

    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet" type="text/css" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
  <!-- Modal -->
  <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Shopping Cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="shoppingCart">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Size</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Sub-Total</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                    <!-- For Each shirt -->
                    {% if shopLen != 0 %}
                    {% for i in range(shopLen) %}
                      <tr>
                        <th scope="row">{{ i + 1 }}</th>
                        <td><img src="/static/img/{{ shoppingCart[i]["image"] }}" width="30px" alt="{{ shoppingCart[i]["team"] }}" /></td>
                        <td>{{ shoppingCart[i]["team"] }}</td>
                        <td>{{ shoppingCart[i]['SUM(qty)'] }}</td>
                        <td>{{ shoppingCart[i]["shoesize"] }}</td>
                        <td>{{ '${:,.2f}'.format(shoppingCart[i]["price"]) }}</td>
                        <td>{{ '${:,.2f}'.format(shoppingCart[i]['SUM(subTotal)']) }}</td>
                      </tr>
                    </tbody>
                    {% endfor %}
                    <tfoot>
                      <tr>
                        <td colSpan="7">Total: {{ '${:,.2f}'.format(total) }}<br /><br />
                          <div class="modal-footer">
                            <a href="/cart/"><button type="button" class="btn btn-primary checkout">Make Changes</button></a>
                            <button type="button" class="btn btn-primary checkout" data-dismiss="modal">Continue Shopping</button>
                            <a href="/checkout/"><button type="button" class="btn btn-success checkout">Quick Checkout</button></a>
                          </div>
                        </td>
                      </tr>
                    </tfoot>
                    {% else %}
                      <tr>
                        <td colSpan="7"><h3>Your cart is empty :\</h3></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colSpan="7">Get some Shoes now!<br />
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Continue Shopping</button>
                          </div>
                        </td>
                      </tr>
                    </tfoot>
                    {% endif %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header>
    <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-sm box-shadow">
      <a href="/" class="navbar-brand d-flex align-items-center">
          <strong><i class="far fa-futbol"></i> ShoesStore</strong>
      </a>
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item px-3"><a href="/" class="nav-link">All</a></li>
        <li class="nav-item dropdown  px-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <i class="fas fa-male"></i> Men's
          </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="/?gender=men">All</a>
              <a class="dropdown-item" href="/?gender=men&category=basketball"> basketball </a>
              <a class="dropdown-item" href="/?gender=men&category=running"> running </a>
              <a class="dropdown-item" href="/?gender=men&category=slides"> slides </a>
              <a class="dropdown-item" href="/?gender=men&category=Canvas"> Canvas </a>
              <a class="dropdown-item" href="/?gender=men&category=court"> court </a>
          </div>
        </li>
        <li class="nav-item dropdown  px-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <i class="fas fa-female"></i> Women's
          </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="/?gender=women">All</a>
              <a class="dropdown-item" href="/?gender=women&category=basketball"> basketball </a>
              <a class="dropdown-item" href="/?gender=women&category=running"> running </a>
              <a class="dropdown-item" href="/?gender=women&category=slides"> slides </a>
              <a class="dropdown-item" href="/?gender=women&category=Canvas"> Canvas </a>
              <a class="dropdown-item" href="/?gender=women&category=court"> court </a>
              
          </div>
        </li>
        <li class="nav-item px-3"><a href="/feedback" class="nav-link">Feedback</a></li>
      </ul>
      <div class="mr-5">
        <button class="navbar-toggler" style="display:inline" type="button" data-toggle="modal" data-target="#modalCenter">
          <span class="glyphicon glyphicon-shopping-cart" data-toggle="modal" data-target="">
            <i class="fas fa-shopping-cart"></i>
            <span class="counter">No. of Items: {{ totItems }}</span>
            <span class="counter">Total: ${{ '{:,.2f}'.format(total) }}</span>
          </span>
        </button>
      </div>
      {% if 'user' in session %}
      <ul class="navbar-nav ">
        <li class="nav-item mr-5"><a href="/history/" class="nav-link"> <i class="fab fa-shopify"></i> You Bought</a></li>
        <li class="nav-item"><a href="/logout/" class="nav-link btn btn-sm btn-warning text-dark"> Logout</a></li>
      </ul>
      {% else %}
      <ul class="navbar-nav">
        <li class="nav-item mx-3"><a href="#" data-toggle="modal" data-target="#loginModal" class="nav-link  btn btn-sm btn-outline-info text-white">Login</a></li>
        <li class="nav-item"><a href="#" data-toggle="modal" data-target="#registerModal" class="nav-link btn btn-sm btn-warning text-dark">Register</a></li>
      </ul>
      {% endif %}
    </nav>
  </header><br />
  <main>
    <div class="container-fluid p-0">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" style="text-align: center;width: 100%; margin-bottom: 5px;">
        <strong>{{ message }}</strong>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
  </div>
    <div class="container">
      {% if display == 1 %}
      <div class="alert alert-success flashMessage" style="text-align:center">
        <strong>Your item was successfully removed from shopping cart!</strong>
      </div>
      {% endif %}

    {% block body %}{% endblock %}
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content col-9 mx-auto px-0">
          <div class="modal-header d-block text-center bg-primary text-white">
            <h5 class="modal-title " id="exampleModalLongTitle">User Login</h5>
          </div>
          <div class="modal-body px-4">
            <form action="/logged" method="POST" class="form-horizontal" role="form">
              <div class="my-4">
                <input type="text" class="form-control" name="username"  placeholder="Username" required />
              </div>
              <div class="my-4">
                <input type="password" class="form-control" name="password"  placeholder="Password" required/>
              </div>
              <div class="my-4 row">
                <div class="col-8">
                  <input type="text"  class="form-control" name="captcha" placeholder="Captcha" required> 
                </div>
                <div class="col-4" id="captchadiv">
                  <img  class="form-control p-0" src="" alt="Captcha" id="captchaimg" style="width: 100%; height: 40px;">
                </div>
              </div>
               
              
              <div class="row mt-4">
                <div class="col-6">
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary col-12 d-block mx-auto ">Sign In</button>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                      <button type="button" id="registerBtn"  data-toggle="modal" data-target="#registerModal" class="btn btn-muted col-12 d-block mx-auto ">Create New Account</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- register modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content col-9 mx-auto px-0">
          <div class="modal-header d-block text-center bg-primary text-white">
            <h5 class="modal-title " id="exampleModalLongTitle">Register Account</h5>
          </div>
          <div class="modal-body px-4">
            <form action="/register" method="POST" class="form-horizontal" role="form">
              <div class="my-4">
                <input type="text" class="form-control" name="username"  placeholder="Username" required />
              </div>
              <div class="my-4">
                <input type="email" class="form-control" name="email"  placeholder="Email Address" required/>
              </div>

              <div class="row my-2">
                <div class="col-6">
                  <div class="form-group">
                    <input type="password" class="form-control" name="password"  placeholder="Password" required/>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input type="password" class="form-control" name="confirm"  placeholder="Confirm Password" required/>
                  </div>
                </div>
              </div>
              <div class="row my-2">
                <div class="col-6">
                  <div class="form-group">
                    <input type="text" class="form-control" name="fname"  placeholder="First name" required />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <input type="text" class="form-control" name="lname"  placeholder="Last name" required />
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary col-12 d-block mx-auto ">Sign Up</button>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                      <button type="button" id="loginBtn"  class="btn btn-muted col-12 d-block mx-auto">Sign In</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <hr />
                    <p>&#169; <a href="/">ShoesStore</a></p>
                </div>
            </div>
        </div>
    </footer>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <!-- Custom JS Scripts -->
        <script src="{{ url_for('static',filename='js/myscripts.js') }}"></script>
        <!-- <script src="{{ url_for('static',filename='js/validate.js') }}"></script> -->
        <script>
          $(document).ready(function(){
            $('#registerBtn').click(function(){
              $('#loginModal').modal('hide');
              $('#registerModal').modal('show');
            });
            $('#loginBtn').click(function(){
              $('#registerModal').modal('hide');
              $('#loginModal').modal('show');
            });
            $.ajax({
                url: "/captcha",
                method: "GET",
                success: function(data) {
                    // $("#result").html(data);
                    console.log(data);
                    $('#captchaimg').attr('src', data); 
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
          
          $('#captchadiv').click(function(){
            $.ajax({
                url: "/captcha",
                method: "GET",
                success: function(data) {
                    // $("#result").html(data);
                    console.log(data);
                    $('#captchaimg').attr('src', data); 
                    console.log($('#captchaimg').src);
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
          })
        });
        </script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
