{% extends "base.html" %}

{% block title %}
ShoesStore - Feedback
{% endblock %}

{% block body %}
<!-- Main Store Body -->
<div class="container">
    <main role="main" class="container">
        <!-- <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
          <img class="mr-3" src="/docs/4.2/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
          <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
            <small>Since 2011</small>
          </div>
        </div> -->

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Recent Feedback</h6>
            {% set colors=['#007bff', '#e83e8c', '#6f42c1']  %}
            {% for feedback in feedbacks %}
            <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
                    <rect fill="{{ colors|random }}" width="100%" height="100%"></rect><text fill="#007bff" dy=".3em" x="50%"
                        y="50%"></text>
                </svg>
                <div class="media-body pb-3 mb-0  border-bottom border-gray">
                   <p class="pb-1 mb-0 small"> 
                    <strong class="text-gray-dark">{{ feedback.nickname }} <span class="ml-3 font-italic">{{ feedback.addtime }}</span></strong>
                    </p>
                    <p class="pb-0 mb-0">{{ feedback.comments }} </p>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="my-5 p-3 bg-white rounded shadow-sm border border-gray">
            <!-- <h4 class="text-center mb-3 text-primary">Leave a feedback</h4> -->
            <h5 class=" pb-2 mb-3 text-center text-muted">Leave a feedback</h5>
            <form id="feedback" action="{{ url_for('feedback') }}" method="POST" class="form-horizontal" role="form">
                <div class="row">
<!--                    <div class="col-6">-->
<!--                        <input type="text" class="form-control" name="username" placeholder="Username" required />-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                        <input type="email" class="form-control" name="email" placeholder="Email" required />-->
<!--                    </div>-->
                </div>
                <div class="row mt-3">
                    <textarea name="content" id="input" class="form-control mx-3" rows="5" required="required" placeholder="Content"></textarea>
                </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary d-block mx-auto col-6 mt-3">Submit</button>
                    </div>
            </form>
        </div>
    </main>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
<script>
    {% if not session  %}
    console.log("not login");
    document.getElementById('feedback').onsubmit = function(event) {
        console.log("not login ");
         event.preventDefault();
          $('#registerModal').modal('hide');
          $('#loginModal').modal('show');
    };
    {% else %}
     console.log("login");
    {%endif%}
</script>
{% endblock %}